<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PingPong Tournament Dashboard</title>
	<!--Looks for the url of a css file that I will add in the future-->
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='custom.css')}}">

    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"/>

</head>

<body>
<center>
   <h1>UserDetails<h1>
   <section class="dashboard-section">
		<p><strong>Welcome {{name}}!!</strong></p>
		<!--Looks for the Home function in the app.py script-->
		<h4><a href="{{ url_for('Home') }}"><strong>Logout</strong></a></h4>
	</section>
</center>
</body>
</html>